
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link href="{% static 'main/Style.css' %}" rel="stylesheet" id="bootstrap-css">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Facture EDEX AN</title>
  </head>
  <body>
    <div class="container" style="width:1100px; margin:0 auto;">

    <div id="invoice">
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
              <br><br><br><br><br><br>
              <header>
              </header>
                  <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                          {% for indice in ClientsPost %}
                            <div class="text-gray-light">Invoice To :</div>
                            <h2 class="to">{{indice.nom_fr}} {{indice.prenom_fr}}</h2>
                            <div class="address">{{indice.adresse_fr}}</div>
                            <div class="email"><a href="mailto:{{indice.email}}">{{indice.email}}</a></div>
                            {% endfor %}
                        </div>
                        <div class="col invoice-details">
                            {% for indice in FacturesPost %}
                            <h1 class="invoice-id">INVOICE N° VF-{{ indice.code_date }}/{{ indice.code }}</h1>
                            <div class="date">Date of Invoice: {{ indice.date }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                              <th class="text-center"><h4>Quantity</h4></th>
                              <th class="text-center"><h4>Weight in ton</h4></th>
                              <th class="text-center"><h4>DESIGNATION</h4></th>
                              <th class="text-center"><h4>Unit Price</h4></th>
                              <th class="text-center"><h4>Total Price</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for indice in ListProduitsPost %}
                          {% for ind in ProduitsPost %}

                          {% if forloop.counter == forloop.parentloop.counter %}

                            <tr>
                                <td class="Colis" style="text-align:center"><h4>{{indice.collis}}</h4></td>
                                <td class="Poids" style="text-align:center"><h4>{{indice.poids|floatformat:3}}</h4></td>
                                <td class="Designation" style="text-align:center"><h4>{{ind.designation_fr }}</h4></td>
                                <td class="PrixU" style="text-align:center"><h4>{{ ind.prix_u_fr|floatformat:3}}</h4></td>
    			                      <td class="PrixT" style="text-align:center"><h4>{{indice.prix_t|floatformat:3}}</h4></td>
                            </tr>
                            {% endif %}

                            {% endfor %}
                            {% endfor %}

                            <tfoot>
                              {% for indice in FacturesPost %}

                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2"><h4>TOTAL</h4></td>
                                <td><h4>{{indice.prix_t|floatformat:3}}</h4></td>
                            </tr>
                        </tfoot>
                    </table>

    <div class="Champs">
      <h4>Say : {{indice.prix_t_lettres_an}}</h4>
      <h5>Destintation : {{indice.destination}}</h5>
    	<h5>Delivery's mode : {{indice.mode_livraison}}</h5>
    	<h5>Port of shipment : {{indice.port_chargement}}</h5>
    	<h5>Country of origin : {{indice.pays_origine}}</h5>
    	<h5>Number of containers : {{indice.nb_conteneur}}</h5>
    	<h5>Quantity : {{indice.nb_colis}} Cartons</h5>
    	<h5>Net Weight : {{indice.poids_net|floatformat:3}} kg</h5>
    	<h5>Gross Weight : {{indice.poids_brut|floatformat:3}} kg</h5>
    	<h5>NGP : {{indice.ngp}}</h5>
    	<h5>Payment : {{indice.mode_paiement}}</h5>
      {% endfor %}
      {% for indice in CompteBancairesPost %}
    	<h5>Bank</h5>
    	<h5>Account Number : {{indice.num_b_an}}</h5>
    	<h5>Bank Adderss : {{indice.adresse_b_an}}</h5>
    	<h5>Swift Code : {{indice.code_s_an}}</h5>
      {% endfor %}
      {% for indice in FacturesPost %}
      <h5>{{indice.o_t_an}}  {{indice.o_c_an}}</h5>
      <h5>{{indice.os_t_an}}  {{indice.os_c_an}}</h5>
      <h5>{{indice.ot_t_an}}  {{indice.ot_c_an}}</h5>
      {% endfor %}
    </div>
    <header>
    </header>
    <h5 align='right'>EXPORT MANAGEMENT</h5>
    <div>
      <button type="submit" value="Post" class="btn btn-primary btn-block" id="printPageButton" onClick="window.print();" style="width: 400px; margin: 0 auto;"> Print </button>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css" media="print">
      @media print {
      #printPageButton {
        display: none;
      }
    }
    </style>
  </body>
</html>
